#toolbar {
    display: flex;
    justify-content: space-between;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#noteForm {
    width: fit-content;
    margin-left: 108px;
}

#content {
    margin: 8px;
}

.submitButton {
    margin-left: 8px;
    height: 40px;
}

textarea {
    resize: none;
}

.logoutBtn {
    height: 40px;
}